// --------------------------------------------
// CORE CONTENT/COMPONENT STYLING
// --------------------------------------------
.starterWrap {
	background-color: $brand;
	color: #333;
	border: 20px solid #333;
	max-width: 30%;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	h1 {
		font-family: $alternativeFont;
	}
	p {
		text-align: left;
		padding: 0;
		margin: 1em;
	}
}

// --------------------------------------------
//
// --------------------------------------------

// --------------------------------------------
// BUTTONS
// --------------------------------------------
.button,
a.button {
	position: relative;
	background-color: $accent;
	border-radius: 5px;
	border: 1px solid darken($brand, 2);
	display: inline-block;
	color: #333;
	text-align: center;
	padding: 4px 5%;
	min-width: 132px;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
	@include font-size(18);
	font-family: $sansationFont;
	font-weight: normal;
	cursor: pointer;
	line-height: 1.4em;
	&:hover {
		background-color: lighten($brand, 10);
	}
	&:active {
		top: 1px;
	}
}
