@font-face {
	font-family: "sansation";
	src: url("./fonts/sansation_regular.woff") format("woff"),
		url("./fonts/sansation_regular.eot")
			format("embedded-opentype"),
		url("./fonts/sansation_regular.ttf") format("truetype");
}

@font-face {
	font-family: "Titillium";
	src: url("./fonts/titilliumtext22l005.woff") format("woff"),
		url("./fonts/titilliumtext22l005.eot")
			format("embedded-opentype"),
		url("./fonts/titilliumtext22l005.ttf") format("truetype");
}

$globalFont: Helvetica Arial sans-serif;

$sansationFont: sansation, Georgia, Arial, sans-serif;

$alternativeFont: Titillium, Georgia, Arial, sans-serif;
